body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  margin: 0px; }

@media only screen and (min-width: 400px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; } }
.row::after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left;
  padding: 15px; }

* {
  box-sizing: border-box; }

.custom-download {
  text-align: center;
  height: 350px;
  background: gray;
  background-image: url("image.png");
  padding: 15px; }
  .custom-download h2, .custom-download p {
    color: white; }
  .custom-download hr {
    background-color: white; }
  .custom-download button {
    padding: 10px;
    color: white;
    border-color: white;
    border-style: solid;
    background-color: Transparent;
    width: 200px;
    border-radius: 5px; }

.contact {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px; }
  .contact h2 {
    padding: 20px; }
  .contact button {
    padding: 10px;
    color: white;
    border: none;
    background-color: orange;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none; }
  .contact input {
    border: none;
    border-bottom-style: outset;
    width: 70%;
    padding: 12px;
    margin: 8px 0; }
  .contact hr {
    background-color: orange; }

.feedback {
  background-color: #eae3e3;
  padding: 10px;
  margin: 40px;
  border-radius: 5px;
  font-style: italic; }

.customer-feedback {
  margin-bottom: 65px; }
  .customer-feedback h2 {
    padding: 40px;
    color: black;
    text-align: center; }
  .customer-feedback p {
    color: gray;
    text-align: center; }
  .customer-feedback hr {
    background-color: orange; }

hr {
  text-align: center;
  width: 100px;
  height: 5px;
  border: none;
  margin-top: 50px;
  margin-bottom: 50px;
  size: 150%; }

.chip {
  display: inline-block;
  margin: 0px;
  height: 50px;
  font-size: 18px;
  line-height: 50px; }
  .chip .name {
    font-size: 120%; }
  .chip .title {
    margin-top: 20px;
    font-size: 80%; }
  .chip img {
    float: left;
    margin-left: 40px;
    height: 90px;
    width: 100px;
    border-radius: 50%; }

/*# sourceMappingURL=output.css.map */
